<%- include('partials/head') -%>
<%- include('navbar') -%>

<main class="flex justify-center">

    <form action="/login" method="post" class="w-[40rem] space-y-5">
        <div>
            <label class="text-3xl" for="email">email</label>
            <input  class="w-full h-10 bg-slate-300 text-2xl" type="email" name="email" id="email">
        </div>
        <div>
            <label class="text-3xl" for="password">password</label>
            <input class="w-full h-10 bg-slate-300 text-2xl" type="password"  name="password" id="password">
            <%if(locals.error){%>
                <p class="text-red-600"><%=error%></p>
            <%}%>
        </div>
        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
        <button type="submit"  class="m-5 bg-red-600 text-white p-3 font-bold rounded-md">Login</button>
    </form>
</main>





<%- include('partials/footer') -%>