<%- include('partials/head') -%>


<h1 class="text-4xl font-bold"><%=type%> product</h1>
<%if(type==='edit'){%>
    <form action=<%="/admin/shop/edit/"+product._id.toString()%> method="post" class="space-y-4 max-w-2xl ml-10">
        <div>
            <label for="title">book name</label>
            <input value=<%=product.title %> class="w-full h-10 bg-slate-300" type="text" name="title" id="title">
        </div>
        <div>
            <label for="price">price</label>
            <input value=<%=product.price%> class="w-full h-10 bg-slate-300" type="number" name="price" id="price">
        </div>
        
        <div>
            <label for="description">enter description</label>
            <input value=<%=product.description%> class="w-full h-10 bg-slate-300" type="text" name="description" id="description">
        </div>
        <div>
            <label for="imageUrl">image Url</label>
            <input value=<%=product.imageUrl%> class="w-full h-10 bg-slate-300" type="text" name="imageUrl" id="imageUrl">
        </div>
        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
        <button type="submit" class="bg-red-400 font-bold p-4">edit item</button>
        
        </form>

    <%}else{%>
        <form action="/admin/shop/add-new-product" method="post" class="space-y-4 max-w-2xl ml-10">
            <div>
                <label for="name">book name</label>
                <input  class="w-full h-10 bg-slate-300" type="text" name="title" id="title">
            </div>
            <div>
                <label for="price">price</label>
                <input  class="w-full h-10 bg-slate-300" type="number" name="price" id="price">
            </div>
            
            <div>
                <label for="description">enter description</label>
                <input  class="w-full h-10 bg-slate-300" type="text" name="description" id="description">
            </div>
            <div>
                <label for="imageUrl">image Url</label>
                <input  class="w-full h-10 bg-slate-300" type="text" name="imageUrl" id="imageUrl">
            </div>
            <button type="submit" class="bg-red-400 font-bold p-4">add item</button>
            <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            
            </form>

            <%}%>

<%- include('partials/footer') -%>